*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.active{
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    text-decoration-thickness: 3px;
}

.button{
    font-weight: 900;
    background-color: #e6bd43;
    padding: 18px 30px;
    margin: 4px 2px;
    display: inline-block;
    font-size: 14px;  
}
button {
    box-shadow: none;
    border: none;
}

#grid-container{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header" 
        "main" 
        "footer";

}

    header{
        grid-area: header;  
        text-align: center;

    }
    header a img{
        height: auto;
        margin-top: 3rem;
    }

    header nav{
        margin: 0;
    }

    header nav a{
        text-decoration: none;
        color: #000;
    }
    header nav ul{
        list-style: none;
        margin: 0;
        padding: 1rem;
    }
    header nav ul li{
        padding: .5rem;
    }




    main{
        grid-area: main;
        text-align: center;

    }
    main section{
        padding: 1rem;
    }
    main section h1{
        font-size: 2rem;        
    }
    main section p{
        font-size: 1rem;
        margin: auto;
        max-width: 60%;
        text-align: left;
        
    }
    main section a{
        text-decoration: none;
        color: #000;  
    }

    #chead{
        background-color: #17150e23;
    }
    #chead h1{
        font-size: 2rem;
        margin: auto;
        max-width: 60%;
        margin-bottom: 1.5rem;
    }
    #chead p{
        font-size: 1rem;
        margin: auto;
        max-width: 70%;
        text-align: center;
    }
    #chead a{
        max-width: fit-content;
        text-align: left;
        margin: 1rem;
    }
    #sub{
        margin: 3rem auto;
        max-width: 70%;

    }
    #aoc{
        background-color: #e6bd43;
    }
    #aoc img{
        width: 80%;
        margin: 2rem;
    }
    #aoc h3{
        font-size: 1.25rem;
        margin: 1rem auto;
        text-align: left;
        max-width: 55%;
    }
    #aoc p{
        font-size: 1rem;
        margin: 1rem auto;
        text-align: left;
        max-width: 55%;
    }
    #aoc a{
        max-width: 55%;
        margin: 1rem;
        border: #000 solid 3px;
        text-align: left;
    }
    #serv{
        margin: 3rem 3rem;
    }
    #serv h3{
        font-size: 1.5rem;
    }
    #serv i{
        font-size: 2rem;
        margin: .5rem;
    }
    #news{
        background-color: #25252521;
        padding: 3rem;
        max-width: 100%;
    }
    #news input{
        padding: 1rem;
        margin: .5rem;
        border: none;
        max-width: 60%;
    }

    








    footer{
        grid-area: footer;
        background-color: #252525;
        text-align: center;
        color: #fff;
    }
    footer a img{
        margin-top: 4rem;
        height: 40%;
    }

    footer ul{
        list-style-type: none;
        padding: 0;

    }
    footer ul li{
        display: inline;
        font-size: 1.8rem;
        padding: 1rem;

    }


















/* @media only screen and (min-width: 900px){
    #grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px auto auto;
        grid-template-areas: 
            "header header header" 
            "main main main" 
            "footer footer footer";
    }

    .button:hover{
        background-color: #000;
        color: #e6bd43;
    }

    header{
        grid-area: header;
    
    }
    
    main{
        grid-area: main;
    }
    
    footer{
        grid-area: footer;
    }
    
}

 */
